---
layout: default

title: Patio Cervecero en Mendoza
meta-description: Barras móviles de tragos para eventos y fiestas en Mendoza.

header-content: false
header-content-type: left
background-image: fondo-barra-juvenil.jpg

navbar:
  color: dark
---

<!-- HEADER -->
{% capture header-content %}
<div id="ab-header-container-page">
  <div class="content wow fadeIn">
    <h2 class="subtitle">Variedad de tragos sin alcohol</h2>
    <h1 class="title">Barra para los más chicos</h1>
  </div>
  <div class="clearfix"></div>
</div>
{% endcapture %}

{% include header.html background-image=page.background-image %}
<!-- HEADER -->

<!-- MAIN -->
<section id="ab-main">
  <div class="ab-section-background">
    {% include partials/wood-background.html %}
  </div>

  <div class="ab-section-container">
    <div class="ab-body">

      <div class="ab-row">
        <div class="ab-title wow fadeInLeft">
          <h1>¿Qué te propone John Jarana?</h1>
        </div>
      </div>

      <div class="ab-row">
        <div class="card-container">
        {% for paragraph in site.data.barra-juvenil.content %}
          <div class="card">
            <p>
              {{ paragraph }}
            </p>
          </div>
        {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

</section>
<!-- MAIN -->

<!-- CONTACT -->
{% include contact.html %}
<!-- CONTACT -->
