---
layout: default

title: Patio Cervecero en Mendoza
meta-description: Barras móviles de tragos para eventos y fiestas en Mendoza.

header-content: false

background-image: fondo-eventos-empresariales.jpg
---

<!-- HEADER -->
{% capture header-content %}
<div id="ab-header-container-page">
  <div class="content wow fadeIn">
    <h2 class="subtitle">Tragos modernos y exclusivos</h2>
    <h1 class="title">Barra óptima para eventos empresariales</h1>
  </div>
  <div class="clearfix"></div>
</div>
{% endcapture %}

{% include header.html background-image=page.background-image %}
<!-- HEADER -->

<!-- MAIN -->
<section id="ab-main">

  <div class="ab-title-container">
    <div class="ab-title">
      <h1>¿Qué te propone John Jarana?</h1>
    </div>
  </div>

  <div class="ab-section-container">
    <div class="ab-body">

      <div class="ab-row">
        <div class="card-container">
        {% for card in site.data.eventos-empresariales.content %}
          <div class="card">
            <div class="media">
              <div class="media-left media-middle">
                <img class="card-icon" src="{{ site.images }}/card-icons/svg/{{ card.icon}}.svg" alt="{{ card.content }}"></img>
              </div>
              <div class="media-body">
                <p>{{ card.content }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

</section>
<!-- MAIN -->

<!-- CONTACT -->
{% include contact.html %}
<!-- CONTACT -->
