---
layout: default
title: Barra Móvil de Tragos en Mendoza
logo: Logo-circular-sobre-madera.png
background-image: header-background.png
description: >
  Breve descripción. Muy breve, pero que explique bien lo que debería explicar bien. Sólo a modo de prueba.
---

<!-- MAIN -->
<section id="ab-main">

  <div class="background-container">
    <img src="{{ site.images }}/tablas-arriba.png" alt="" class="top" />
    <img src="{{ site.images }}/medio.jpg" alt="" class="middle" />
    <img src="{{ site.images }}/tablas-abajo.png" alt="" class="bottom" />
  </div>


  <div class="content col-sm-3 wow fadeInLeft">
    <h1>Título</h1>
    <span class="top-pin">
      <img src="{{ site.images }}/tornillo.png" alt="">
    </span>
    <span class="bottom-pin">
      <img src="{{ site.images }}/tornillo.png" alt="">
    </span>
  </div>


  <img src={{ "beer3.png" | prepend: "/images/" | prepend: site.assets }} alt="" class="drink-img wow bounceInDown">

  <div class="clearfix"></div>

</section>
<!-- MAIN -->

<section class="ab-section">

  <div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-9">

      <form action="" id="contact-form">

        <div class="col-sm-6 contact-half-one">
          <input type="text" id="name" name="name" placeholder="Nombre" />
          <input type="text" id="email" name="email" placeholder="E-mail" />
          <input type="text" id="phone" name="phone" placeholder="Teléfono" />
          <select id="event" name="event" placeholder="Tipo de evento" style="
          width: 49%;
          display: inline-block;
          ">
            <option value="" selected disabled>Tipo Evento</option>
            <option value="otro">Fiesta de 15</option>
            <option value="otro">Fiesta de 18</option>
            <option value="otro">Fiesta de 50</option>
            <option value="otro">Evento empresarial</option>
            <option value="otro">Fiesta sin alcohol</option>
            <option value="otro">Fiesta privada</option>
            <option value="otro">Cena de egresados</option>
            <option value="otro">Otros</option>
          </select>
          <input type="number" id="quantity" name="quantity" placeholder="Cant invitados" style="
          width: 49.5%;
          display: inline-block;
          ">
        </div>

        <div class="col-sm-6 contact-half-two">
          <textarea name="comments" cols="40" rows="4" id="comments"
            onfocus="if(this.value == 'Mensaje') { this.value = ''; }"
            onblur="if(this.value == '') { this.value = 'Mensaje'; }">Mensaje</textarea>
        </div>

        <div class="col-sm-12 contact-row text-right">
          <input type="submit" class="send-button" id="submit" value="Enviar Mensaje">
        </div>

      </form>

    </div>

    <div class="col-sm-3">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut.
      </p>
    </div>

  </div>

    <span class="image-effect"></span>

</section>

<!-- SECTION -->
<section class="ab-section">
  <div class="background-container">
    <img src="{{ site.images }}/fondo-slide.jpg" alt="" class="top" />
    <span class="image-effect"></span>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <div class="card-container col-sm-12">

      <div class="col-sm-4">
        <div class="owl-carousel wow bounceInDown" style="z-index: 10;position: relative;">
          {% for card_item in site.data.index.card_items %}
          {% include partials/card.html image=card_item.image title=card_item.title text=card_item.text index=forloop.index %}
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="owl-carousel wow bounceInDown" style="z-index: 10;position: relative;">
          {% for card_item in site.data.index.card_items %}
          {% include partials/card.html image=card_item.image title=card_item.title text=card_item.text index=forloop.index %}
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="owl-carousel wow bounceInDown" style="z-index: 10;position: relative;">
          {% for card_item in site.data.index.card_items %}
          {% include partials/card.html image=card_item.image title=card_item.title text=card_item.text index=forloop.index %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

</section>
<!-- SECTION -->
