---
layout: default
title: Barra Móvil de Tragos en Mendoza
logo: John Jarana Logotipo-02.png
background-image: header-background.png
description: >
  Breve descripción. Muy breve, pero que explique bien lo que debería explicar bien. Sólo a modo de prueba.
---

<section id="ab-images">

  <div class="background"></div>

  <div class="left-content col-sm-3">
    <h2><span>Título</span></h2>
  </div>
  <div class="right-content col-sm-9">

    {% for card_item in site.data.index.card_items %}
      {% include partials/card.html image=card_item.image title=card_item.title text=card_item.text %}
    {% endfor %}

    <!-- Only for testing -->
    {% for card_item in site.data.index.card_items %}
      {% include partials/card.html image=card_item.image title=card_item.title text=card_item.text %}
    {% endfor %}

  </div>

  <img src={{ "beer3.png" | prepend: "/images/" | prepend: site.assets }} alt="" class="drink-img">

  <div class="clearfix"></div>

</section>

{% comment %}
<div class="ab-separator">
  <div class="overlay"></div>
</div>

<section id="ab-information">

  <div class="overlay"></div>
  <div class="background"></div>

  <div class="left-content col-sm-9">

    {% for media_item in site.data.index.media_items %}

      {% include partials/media-list.html type=media_item.type image=media_item.image title=media_item.title text=media_item.text %}

    {% endfor %}

  </div>
  <div class="right-content col-sm-3">
    <h2><span>Cabecera</span></h2>
    <img src="{{ "beer3.png" | prepend: "/images/" | prepend: site.assets }}" alt="" class="drink-img">
  </div>
  <div class="clearfix"></div>
</section>
{% endcomment %}

<section class="ab-section">
</section>
