---
layout: default

title: Patio Cervecero en Mendoza
meta-description: Barras móviles de tragos para eventos y fiestas en Mendoza.

header-content: false
logo: Logo-circular-sobre-madera.png
background-image: fondo-patio-cervecero.jpg
description: >
  Barras móviles de tragos para eventos y fiestas en Mendoza.

form-type: wood-background
---

<!-- HEADER -->
{% include header.html background-image=page.background-image %}
<!-- HEADER -->

<!-- MAIN -->
{% include contact.html %}
<!-- MAIN -->
