---
layout: default

title: Patio Cervecero en Mendoza
meta-description: Barras móviles de tragos para eventos y fiestas en Mendoza.

header-content: false
logo: Logo-circular-sobre-madera.png
background-image: fondo-patio-cervecero.jpg
description: >
  Barras móviles de tragos para eventos y fiestas en Mendoza.

form-type: wood-background
---

<!-- HEADER -->
{% include header.html background-image=page.background-image %}
<!-- HEADER -->

<!-- MAIN -->
<section id="ab-main" style="background-color: #000">
  <div class="ab-section-background">
    {% include partials/wood-background.html %}
  </div>

  <div class="ab-section-container">
    <div class="ab-body">

      <div class="ab-row">
        <div class="ab-title wow fadeInDown">
          <h1>Consultas</h1>
        </div>
      </div>

      <div class="ab-row">
        <div class="form-contact col-sm-8 col-sm-offset-2">
          {% include contact-form.html %}
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

</section>
<!-- MAIN -->
