<!-- CONTACT -->
<section id="ab-contact">

  <div class="ab-title-container">
    <div class="ab-title">
      <h2>Contactanos</h2>
    </div>
  </div>

  <div class="ab-section-container-relative">

    <div class="ab-body">

      <div class="ab-row">
        <div class="content col-xs-12 col-sm-10 col-sm-offset-1">
          <h3>¿Querés saber algo más?</h3>
          <p class="dark">
            Tranquilo, acá te dejamos el formulario y el teléfono con Whatsapp.
          </p>
          <p class="dark">
            Estamos a tu disposición para cualquier consulta.
          </p>
        </div>

        <div class="form-contact col-xs-12 col-sm-8 col-sm-offset-2">
          {% include contact-form.html %}
        </div>

        <div class="contact-message col-xs-12">
          <div class="content col-xs-12 col-sm-10 col-sm-offset-1">
            <h3>
              ¡Muchas gracias <span class="contact-name"></span> por contactarte
              con nosotros!
            </h3>
            <p class="dark">
              En breve, nos comunicaremos con vos.
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="clearfix"></div>
</section>
<!-- CONTACT -->
