<!-- CONTACT -->
<section id="ab-contact">
  <div class="ab-section-container-relative">

    <div class="ab-body">

      <div class="ab-row">
        <div class="ab-title wow fadeInDown">
          <h1>Formulario</h1>
        </div>
      </div>

      <div class="ab-row">
        <div class="content col-sm-10 col-sm-offset-1">
          <h2>¿Querés saber algo más?</h2>
          <p class="dark">
            Tranquilo, acá te dejamos el formulario y el teléfono con Whatsapp.
          </p>
          <p class="dark">
            Estamos a tu disposición para cualquier consulta.
          </p>
        </div>

        <div class="form-contact col-sm-8 col-sm-offset-2">
          {% include contact-form.html %}
        </div>

      </div>

    </div>
  </div>

  <div class="clearfix"></div>
</section>
<!-- CONTACT -->
