<form action="" id="contact-form">

  <div class="col-md-6 contact-half-one wow fadeInLeft">
    <input type="text" id="name" name="name" placeholder="Nombre" />
    <input type="text" id="email" name="email" placeholder="E-mail" />
    <input type="text" id="phone" name="phone" placeholder="Teléfono" />
    <select id="event" name="event" placeholder="Tipo de evento" style="
      width: 49%;
      display: inline-block;
      ">
      <option value="" selected disabled>Tipo Evento</option>
      <option value="otro">Fiesta de 15</option>
      <option value="otro">Fiesta de 18</option>
      <option value="otro">Fiesta de 50</option>
      <option value="otro">Evento empresarial</option>
      <option value="otro">Fiesta sin alcohol</option>
      <option value="otro">Fiesta privada</option>
      <option value="otro">Cena de egresados</option>
      <option value="otro">Otros</option>
    </select>
    <input type="number" id="quantity" name="quantity" placeholder="Cant invitados" style="
    width: 49.5%;
    display: inline-block;
    ">
  </div>

  <div class="col-md-6 contact-half-two wow fadeInRight">
    <textarea name="comments" cols="40" rows="4" id="comments"
      onfocus="if(this.value == 'Mensaje') { this.value = ''; }"
      onblur="if(this.value == '') { this.value = 'Mensaje'; }">Mensaje</textarea>
  </div>

  <div class="col-sm-12 contact-row text-right">
    <input type="submit" class="send-button" id="submit" value="Enviar Mensaje">
  </div>

</form>
