<footer class="ab-footer wow fadeInUp">
  <!-- <div class="overlay"></div> -->

  <div class="col-sm-4">
    <div class="contact-item">
      <img src="{{ "whatsapp_logo.gif" | prepend: "/images/" | prepend: site.assets }}" />
      <p>261 123456</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="contact-item">
      <img src="{{ "gmail_logo.svg" | prepend: "/images/" | prepend: site.assets }}" />
      <p>jhon.jarana@gmail.com</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="contact-item">
      <img src="{{ "facebook_logo.svg" | prepend: "/images/" | prepend: site.assets }}" />
      <p><a href="https://www.facebook.com/Barra-movil-de-tragos-en-Mendoza-John-Jarana-177318776008791">John Jarana</a></p>
    </div>
  </div>

</footer>
