<section id="ab-footer" class="ab-section-dark wow fadeInUp">

  <div class="ab-section-container">
    <div class="ab-body text-center">

      <div class="contact-items">
        <div class="col-sm-3">
          <div class="contact-item">
            <img src="{{ "whatsapp_logo.gif" | prepend: "/images/" | prepend: site.assets }}" alt="Número de Whatsapp" />
            <p>261 3830752</p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="contact-item">
            <img src="{{ "gmail_logo.svg" | prepend: "/images/" | prepend: site.assets }}" alt="Dirección de email" />
            <p>johnjaranabarras@gmail.com</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="contact-item">
            <img src="{{ "facebook_logo.svg" | prepend: "/images/" | prepend: site.assets }}" alt="Página de Facebook" />
            <p><a href="https://www.facebook.com/Barra-movil-de-tragos-en-Mendoza-John-Jarana-177318776008791">John Jarana</a></p>
          </div>
        </div>
      </div>

      <div class="developer">
        <div class="container">
          <div class="col-sm-12">
            <p>Desarrollado por
              <a href="http://ideenegocios.com.ar">IDEE</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
</section>
