<!-- HEADER -->
<header role="banner" id="ab-header">

  <div class="overlay"></div>

  <nav id="ab-navbar" class="wow fadeInDown">
    <ul class="ab-nav">
      <li class="active"><a href="#"><span>Inicio</span></a></li>
      <li><a href="#"><span>Patio Cervecero</span></a></li>
      <li><a href="#"><span>Barra Juvenil</span></a></li>
      <li><a href="#"><span>Eventos Empresariales</span></a></li>
      <li><a href="#"><span>Bodas y Fiestas</span></a></li>
      <li><a href="#"><span>Nuestro Trabajo</span></a></li>
    </ul>
  </nav>

  <div id="ab-header-container">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="logo">
        <img src="{{ page.logo | prepend: "/images/" | prepend: site.assets }}"
        alt="Logo" class="wow tada" data-wow-duration="1s" data-wow-iteration="2" />
      </div>
      <div class="content wow fadeIn">
        {{ page.description }}
      </div>
      <div class="button">
        <button class="wow flipInX" data-wow-delay="1s">¡Hacer Algo!</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

</header>
