<nav id="ab-navbar" class="wow fadeInDown">
  <ul class="ab-nav {% if page.navbar.color %}{{ page.navbar.color }}{% endif %}">
    <li {% if page.url == "/" %}class="active"{% endif %}>
      <a href="/"><span>Inicio</span></a>
    </li>
    <li {% if page.url == "/patio-cervecero" %}class="active"{% endif %}>
      <a href="/patio-cervecero"><span>Patio Cervecero</span></a>
    </li>
    <li {% if page.url == "/barra-sin-alcohol" %}class="active"{% endif %}>
      <a href="/barra-sin-alcohol"><span>Barra Sin Alcohol</span></a>
    </li>
    <li {% if page.url == "/eventos-empresariales" %}class="active"{% endif %}>
      <a href="/eventos-empresariales"><span>Eventos Empresariales</span></a>
    </li>
    <li {% if page.url == "/bodas-y-fiestas" %}class="active"{% endif %}>
      <a href="/bodas-y-fiestas"><span>Bodas y Fiestas</span></a>
    </li>
    {% comment %}
    <li class="{% if page.url == "/nuestro-trabajo" %}active{% endif %}">
      <a href="/nuestro-trabajo"><span>Nuestro Trabajo</span></a>
    </li>
    {% endcomment %}
  </ul>
</nav>
