.card-container {
  padding: .5vw;
  font-size: 16px;
  overflow: inherit;

  .card {
    display: flex;
    align-items: center;
    margin: .5vw;
    background-color: #fece83;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 5px;
    padding: 8px;
    width: 32%;
    float: left;
    min-height: 150px;
    color: #000;

    p {
      width: 100%;
      height: auto;
      font-size: 13px;
      margin: 0;
    }
  }
}
