.title-with-background {
  z-index: 2;
  position: relative;
  margin: 0;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  padding: 23px 0;
  background-image: url(/assets/images/etiqueta-derecha-e-izq.jpg);
  text-shadow: 0 0 10px #000;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.7);
  width: 488px;
  max-width: 488px;
  text-align: center;
  height: 68px;
}

.ab-section {
  background-color: $ab-section-background-color;
  padding: 0;
  position: relative;

  .ab-section-background {
    position: relative;
    float: left;
    z-index: 2;
    width: 100%;
    img.top {
      position: relative;
      float: left;
      z-index: 2;
      width: 100%;
    }
    img.icon {
      position: absolute;
      bottom: 0;
      left: 3%;
      max-width: 300px;
      z-index: 10;
    }
  }

  .ab-section-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    .ab-content {
      position: relative;
      width: 100%;
    }

    .ab-body {
      width: 100%;
      .ab-row {
        position: relative;
        text-align: center;
        width: 100%;
        margin: 0;
        .ab-title {
          text-align: center;
          display: inline-block;
          position: relative;
          width: 100%;
          box-shadow: 0 7px 5px rgba(0, 0, 0, 0.7);
          overflow: hidden;
          max-width: 488px;

          h1 {
            @extend .title-with-background;
          }
        }

        .left-content {
          float: left;
          width: 50%;
        }
        .right-content {
          float: right;
          width: 50%;
        }
      }
      p {
        margin-bottom: 8px;
      }
      p.dark {
        color: #555;
      }
      p.light {
        color: #fff;
      }
    }

    div {
      z-index: 2;
    }
  }

  .ab-section-container-relative {
    @extend .ab-section-container;
    position: relative;
    float: left;
  }

}

.ab-separator {
  height: 150px;
  // background-color: #333;
  text-align: center;
  background: url("{{ site.images }}/tabla-pie-de-pagina.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
  position: relative;
  float: left;
  width: 100%;
}

