<div class="media-list-{{ include.type }}">

  <div class="pin-left">
    <img src={{ "/images/icons/pin.png" | prepend: site.assets }} alt="">
  </div>
  <div class="pin-right">
    <img src={{ "/images/icons/pin.png" | prepend: site.assets }} alt="">
  </div>

  {% if include.type == 'left' %}
  <div class="media-list-image col-sm-3">
    <img src={{ include.image | prepend: "/images/" | prepend: site.assets }} />
  </div>
  {% endif %}

  <div class="media-list-body col-sm-9">
    <h2>{{ include.title }}</h2>
    <p>
      {{ include.text }}
    </p>
  </div>

  {% if include.type == 'right' %}
  <div class="media-list-image col-sm-3">
    <img src={{ include.image | prepend: "/images/" | prepend: site.assets }} />
  </div>
  {% endif %}

  <div class="clearfix"></div>

</div>
