---
---

$font-primary: 'CarrigRefined', Arial, sans-serif;
$font-secondary: 'Montserrat', Arial, sans-serif;
$font-subtitle: 'DIN Pro', Arial, sans-serif;
$font-navbar: 'DIN Pro Black', Arial, sans-serif;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #fff !default; // brown

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;

$body-background-color: #eee;
$ab-section-background-color: #eee;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

// Mixin
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition:     all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin blur($blur){
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}


@mixin overlay($background, $opacity) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: $background;
    opacity: $opacity;
  }
}
@mixin background($background-img) {
  .background {
    background-image: url($background-img);
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
@mixin background-blur($background-img, $blur) {
  @include background($background-img);
  .background {
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
  }
}
@mixin parallax-background($background-img) {
  background-image: url($background-img);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
@mixin text-border($border, $e, $color) {
  text-shadow: $border 0 $e $color,
              -$border 0 $e $color,
              0 $border $e $color,
              0 (-$border) $e $color;
}

// Import Bootstrap
@import 'bootstrap';
@import 'bootstrap/mixins';
@import 'bootstrap/variables';

// My custom element styles
@import 'section';
@import 'form';
@import 'third-party';
@import 'util';

/* =======================================================
*
*   Template Style
*
* ======================================================= */

// Template Base
body {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: lighten($brand-darker, 20%);
  color: #7f7f7f;
  background: $body-background-color;
  height: 100%;
  position: relative;

}
a {
  color: $brand-primary;
  @include transition(.5s);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    outline: none;
  }
}
p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-black;
  font-family: $font-primary;
  font-weight: 400;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 26px;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

// NAVBAR
#ab-navbar {
  border: none;
  text-align: center;
  z-index: 2;
  position: relative;
  // ul
  .ab-nav {
    display: inline-block;
    border-radius: 0.2em;
    margin-top: 2em;
    padding: 0 1.5em;
    margin-bottom: 2em;
    list-style: none;
    padding: 5px 15px;
    li {
      display: inline-block;
      padding: .15em .5em;
      text-align: center;
      a {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        // letter-spacing: 0.25em;
        height: 5em;
        line-height: 1em;
        position: relative;
        span {
          position: relative;
          display: block;
          padding-bottom: 2px;
          font-family: $font-navbar;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $brand-primary;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &:hover {
          color: $brand-white;
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }

      @media (max-width: 768px) {
        display: block;
        margin-bottom: 1.5rem;
      }
    }
    .active {
      a {
        color: #fff;
        font-weight:600;
      }
    }

    // dark items
    &.dark {
      li {
        a {
          color: #333;
          &:hover {
            color: #555;
          }
          span:before {
            background-color: #888;
          }
        }
      }

      li.active {
        a {
          color: #000;
        }
      }
    }
  }
}

// HEADER
#ab-header {
  position: relative;
  #ab-header-container-main {
    clear: both;
    z-index: 2;
    position: relative;
    text-align: center;
    padding-bottom: 5em;
    margin: 0;
    .logo {
      width: 100%;
      height: 230px;
      margin-bottom: 3em;
      img {
        max-width: 260px;
        // background-color: #fff;
        @include border-radius(50%);
        // box-shadow: 0 0 5px #000;
      }
    }
    .content {
      margin-bottom: 2em;
      color: white;
      text-shadow: 0 0 2px #000;
      font-size: 20px;

      h1 {
        margin-bottom: 2em;
        color: white;
        text-shadow: 0 0 2px #000;
        font-size: 20px;
        font-family: "Montserrat";
      }

      /* Typist */
      @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }

      @-webkit-keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }

      #typist-element {
        &:after {
          content: " ";
          display: inline-block;
          height: 32px;
          position: relative;
          top: 7px;
          margin-left: 3px;
          margin-right: 2px;
          width: 2px;
          background: #dddddd;
          animation: blink 1s step-start 0s infinite;
          -webkit-animation: blink 1s step-start 0s infinite;
        }
      }

      .selectedText {
        display: none;
      }
    }
    .button {
      button {
        padding: .5em 3em;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.9);
        color: #fff;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }
  #ab-header-container-page {
    position: absolute;
    left: 0;
    bottom: 30%;
    width: 100%;
    .content {
      margin-bottom: 2em;
      color: white;
      text-shadow: 0 0 2px #000;
      font-size: 20px;
      h1.title {
        font-family: $font-primary;
        font-size: 3em;
        text-align: center;
        text-transform: uppercase;
        padding: .5em 1em;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
      h2.subtitle {
        font-family: $font-navbar;
        font-size: 2em;
        text-align: right;
        text-transform: uppercase;
        color: #fff;
        /* opacity: 0.8; */
        padding-right: 25px;
        /* text-shadow: 0 0 4px #000; */
      }
    }

    @media (max-width: 1024px) {
      position: relative;
      .content {
        h1.title {
          font-size: 2em;

          @media (max-width: 640px) {
            font-size: 1em;
          }
        }
        h2.subtitle {
          font-size: 1em;
          padding: 0;
        }
      }
    }
  }
}

// SECTIONS
#ab-main {
  @extend .ab-section;

  .ab-section-container {
    .ab-body {
      .ab-row {
        padding: 0 50px;
        color: #000;
        overflow: inherit;

        .card-container {
          font-family: calibri;
          box-sizing: border-box;
          justify-content: center;
          align-items: stretch;
          align-content: center;
          display: flex;
          flex-wrap: wrap;

          .card {
            width: 450px;
            padding: 10px;
            margin: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;

            p {
              margin: 10px;
              font-family: Montserrat;
              line-height: 1.4em;
              font-size: 0.9em;
              text-align: left;
              a {
                color: #000;
                font-weight: 600;
              }
            }

            .media-middle {
              text-align: center;
              padding-left: 15px;

              .card-icon {
                width: 80px;
              }
            }

            &:hover {
              box-shadow: 0 0 1px #222;
              z-index: 5;
              p {
                a {
                  text-shadow: 0 3px 3px #666;
                }
              }
            }

            @media (max-width: 768px) {
              margin: 0;
              margin-bottom: 5px;
            }
          }

          .the-card {
            background-color: #806363;
            color: #fff;

            p {
              text-align: center;
            }
          }
        }

        @media (max-width: 768px) {
          padding: 0;
        }
      }
    }
  }
}

#ab-contact {
  @extend .ab-section;
  .ab-section-container {
    .ab-body {
      .ab-row {
        .content {
          h3 {
            font-family: $font-subtitle;
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: 400;
            text-align: center;
          }
          p {
            margin-bottom: 3px;
            font-size: 0.9em;
            padding-left: 5px;
            text-align: center;
          }
        }
        .form-contact {
          padding: 30px 0;
          padding-bottom: 60px;
        }

        .contact-message {
          display: none;
          margin: 20px 0;

          .content {
            padding: 25px;
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
}

#ab-footer {
  @extend .ab-section;
  background-color: #252525;
  margin-bottom: 0;

  .ab-section-container {
    .ab-body {
      .contact-items {
        position: relative;
        top: 30px;
        overflow: hidden;

        .contact-item {
          z-index: 3;
          color: #fff;
          font-size: 1.2em;
          text-shadow: 0 0 1px #000;

          img {
            width: 32px;
            display: inline-block;
          }

          p {
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            margin-left: 5px;

            a {
              color: #fff;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }

          }

          @media (max-width: 768px) {
            font-size: 1em;
            margin-bottom: 10px;
            text-align: left;
          }
        }
      }

      .developer {
        z-index: 3;
        position: relative;
        font-size: 1.2em;
        margin-top: 30px;

        p {
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.3);
          padding: 0 12px;
          color: #fff;
          text-shadow: none;
          box-shadow: none;
          margin-top: 15px;

          a {
            color: white;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      @media (max-width: 1024px) {
        .contact-items {
          top: 10px;
        }
        .developer {
          margin-top: 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    box-shadow: none;
  }
}

@import 'mobile';
