---
---

$font-primary: 'CarrigRefined', Arial, sans-serif;
$font-secondary: 'Din Pro', Arial, sans-serif;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #fff !default; // brown

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-bg-color: $brand-white;

$ab-section-background-color: #eee;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;


// Mixin
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition:     all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin blur($blur){
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}


@mixin overlay($background, $opacity) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: $background;
    opacity: $opacity;
  }
}
@mixin background($background-img) {
  .background {
    background-image: url($background-img);
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
@mixin background-blur($background-img, $blur) {
  @include background($background-img);
  .background {
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);
  }
}
@mixin parallax-background($background-img) {
  background-image: url($background-img);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
@mixin text-border($border, $e, $color) {
  text-shadow: $border 0 $e $color,
              -$border 0 $e $color,
              0 $border $e $color,
              0 (-$border) $e $color;
}

// Import Bootstrap
@import 'bootstrap';
@import 'bootstrap/mixins';
@import 'bootstrap/variables';

// My custom element styles
@import 'form';
@import 'third-party';
@import 'card';
@import 'util';


/* =======================================================
*
*   Template Style
*
* ======================================================= */

// Template Base
body {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.8;
  color: lighten($brand-darker, 20%);
  color: #7f7f7f;
  background: $brand-bg-color;
  height: 100%;
  position: relative;

}
a {
  color: $brand-primary;
  @include transition(.5s);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    outline: none;
  }
}
p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-black;
  font-family: $font-primary;
  font-weight: 400;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 26px;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

.content {
  z-index: 3;
}

.title-with-background {
  z-index: 2;
  position: relative;
  // text-align: right;
  margin: 0px;
  // margin-left: -150px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 2.5em;
  padding: 15px 50px 10px 50px;
  background-image: url(/assets/images/etiqueta-derecha-e-izq.jpg);
  text-shadow: 0 0 10px #000;
  box-shadow: 0 3px 5px #222;
  width: 488px;
  height: 68px;
}

.ab-section {
  background-color: $ab-section-background-color;
  padding: 0;
  overflow: hidden;
  position: relative;

  h1.right-title {
    @extend .title-with-background;
    text-align: left;
    margin-right: -83px;
    padding-left: 130px;
    float: right;
  }

  h1.left-title {
    @extend .title-with-background;
    text-align: right;
    margin-left: -150px;
    float: left;
  }

  img.top {
    position: relative;
    float: left;
    z-index: 2;
    width: 100%;
  }

  .ab-section-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0;

    div {
      z-index: 2;
    }
  }


}

.ab-separator {
  height: 150px;
  // background-color: #333;
  text-align: center;
  background: url("{{ site.images }}/tabla-pie-de-pagina.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
  position: relative;
  float: left;
  width: 100%;
}

.ab-contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ab-footer {
  @extend .ab-separator;
  .overlay {
    box-shadow: 0 -5px 8px #aaa;
  }

  .contact-item {
    z-index: 3;
    position: relative;
    color: #fff;
    font-size: 1.5em;
    top: 40px;
    text-shadow: 0 0 5px #000;

    img {
      width: 64px;
      display: inline-block;
    }

    p {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      margin-left: 5px;

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

    }

  }
}

// NAVBAR
#ab-navbar {
  border: none;
  text-align: center;
  z-index: 2;
  position: relative;
  // ul
  .ab-nav {
    display: inline-block;
    border-radius: 0.2em;
    margin-top: 2em;
    padding: 0 1.5em;
    // box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
    margin-bottom: 2em;
    list-style: none;
    li {
      display: inline-block;
      padding: .15em .5em;
      text-align: center;
      a {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8em;
        // letter-spacing: 0.25em;
        height: 5em;
        line-height: 1em;
        position: relative;
        span {
          position: relative;
          display: block;
          padding-bottom: 2px;
          font-family: $font-primary;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $brand-primary;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &:hover {
          // color: $brand-primary;
          color: $brand-white;
          // color: rgba(255,255,255,1);
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .active {
      a {
        color: #fff;
        font-weight:600;
      }
    }
  }
}

// HEADER
#ab-header {
  #ab-header-container {
    clear: both;
    z-index: 2;
    position: relative;
    text-align: center;
    padding-bottom: 5em;
    margin: 0;
    .logo {
      width: 100%;
      height: 230px;
      margin-bottom: 3em;
      img {
        max-width: 260px;
        // background-color: #fff;
        @include border-radius(50%);
        // box-shadow: 0 0 5px #000;
      }
    }
    .content {
      margin-bottom: 3em;
      color: white;
      text-shadow: 0 0 2px #000;
    }
    .button {
      button {
        padding: .5em 3em;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.9);
        color: #fff;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }
  @media (min-width: 1440px) {
    #ab-header-container {
      margin-top: 75px;
      margin-bottom: 75px;
    }
  }
}


// MAIN SECTION
#ab-main {
  .background-container {
    position: absolute;
    top: -60px;
    z-index: 2;
    width: 100%;
    left: 0;
    img {
      width: 100%;
    }
  }

  @include overlay(#222, 0.2);
  .overlay {
    z-index: 3;
  }

  min-height: 550px;
  background-color: $ab-section-background-color;
  padding: 50px 0;
  position: relative;

  img.drink-img {
    position: absolute;
    bottom: 0;
    left: 3%;
    max-width: 400px;
    z-index: 10;
  }

  .content {
    max-width: 100%;
    h1 {
      @extend .title-with-background;
      text-align: right;
      margin-left: -83px;
      padding-right: 130px;
    }
    .top-pin {
      z-index: 2;
      position: absolute;
      right: 20px;
      top: 5px;
      line-height: 0;
      img {
        width: 20px;
        height: auto;
      }
    }
    .bottom-pin {
      z-index: 2;
      position: absolute;
      right: 20px;
      bottom: 5px;
      line-height: 0;
      img {
        width: 20px;
        height: auto;
      }
    }
  }
}
